.containerForm{
    width: 50%;
    margin: auto;
    height: fit-content;
    display: flex;
    /* align-items: start; */
    justify-content: center;
    flex-direction: column;
}
.controlers-form {  
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 0px auto;
    width: -webkit-fill-available;
}
.controlers-form div{
    width: 100%;
}
.controlers-form label {
    margin: 10px 0px;
    color: aquamarine;
    display: block;
    width: 100%;
}
.controlers-form input {
    display: block;
    width: -webkit-fill-available;

}

.controlers-form button{
    width: 100%;
    margin: 10px 0px;
    padding: 10px;
    background-color: aquamarine;
    border: none;
    color: #fff;
    border-radius: 15px;
    cursor: pointer;
}
.controlers-form button:hover{
    background-color: #fff;
    color: aquamarine;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.containerForm ul {
    list-style: none;
    width: -webkit-fill-available;
    margin: 0px auto;
    padding: 0px;
    justify-content: start;
}

ul li {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    margin: 10px 0px;
    text-align: start;
}

ul li .listItem{
    display: grid;
   grid-template-columns: repeat(3,1fr);
   text-align: center;
}
ul li .listItem button{
    padding: 10px;
   
    cursor: pointer;
    color: #fff;
    border: none;
}

ul li .listItem button:last-child{
    background-color: rgb(252, 76, 76);
}
ul li .listItem button:first-child{
    background-color: rgb(68, 249, 68);
}